# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- VS Code ---
.vscode/
*.code-workspace

# --- Segurança e Configuração (CRÍTICO) ---
.env
*.log
secrets.json

# --- Específico do seu Conversor ---
# Não queremos salvar os arquivos que estão sendo convertidos!
inputs/
outputs/
temp_files/

# --- Sistema ---
.DS_Store
Thumbs.db

# Arquivos de Excel

*.xlsx